.stafftag {
  font-weight: 500 !important;
  margin: 1px 0 0 4px !important;
}

div[class*="repliedMessage_"] .stafftag,
div[class*="threadMessageAccessory_"] .stafftag {
  margin-right: 0.25rem !important;
}
